<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.taptalk.taptalklive">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".Activity.TTLCreateCaseFormActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.TTLReviewActivity"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"
            android:screenOrientation="portrait" />
    </application>

</manifest>